<div class='row-fluid' ng-controller='CtrlMainPage' ng-init='init()'>
	<div class='row-fluid'>
		<div class='span2' >
			<ul class='nav nav-pills nav-stacked'>
				<li>{{user.first_name}} {{user.last_name}}</li>
				<li><a ng-href="#">Home</a></li>
				<li><a ng-href="#/messages">Messages</a></li>
				<li><a ng-href='#/' ng-click='logout()'>Log out</a></li>
			</ul>
		</div>
	<div>
	
	<div class='row-fluid span7'>

		<div>
			<div class='form-horizontal'>
				<div ng-show='!upload'>
					<textarea style='resize:none' ng-model='newMessage'></textarea>
					<a class='btn btn-success' ng-click='postMessage()'>Post</a>
				</div>
				<!-- Create a file upload form with options passed in from your scope -->
				<form ng-show='upload'>

				    <!-- This button will trigger a file selection dialog -->
				    <span class='btn btn-success fileinput-button' ng-class='{disabled: disabled}'>
				        <span>Add files...</span>
				        <!-- Surprisingly there is a bug in angular where ng-change doesn't work on file controls so this will have to be a solution for now -->
				        <input type='file' ng-model='file' onchange='angular.element(this).scope().uploadFile(this.files)' />
				    </span>
				<form>
			</div>


			<div class='row-fluid'>
				<ul class='nav nav-tabs'>
					<li ng-class='{active: !upload}'><a href='' ng-click='upload = false'>New post</a></li>
					<li ng-class='{active: upload}'><a href='' ng-click='upload = true'>Upload image</a></li>
				</ul>
			</div>

			<!-- <hr /> -->

			<div ng-init='postProvider.getWallPosts()' post='postProvider.message'></div>
		</div>

	</div>


</div>